<h1>Add a <%= element.model_name.human %></h1>

<form action="/<%= element.model_name.plural %>" method="post">
<% if params["action"] == "edit" %>
  <input type="hidden" name="_method" value="put">
<% end %>
<% element.attribute_names.each do |attr| %>
  <label for="<%= element.model_name.singular %>_<%= attr %>"><%= attr.capitalize %></label>
  <%= for_type %>

<% end %>

</form>
