<h4> <%= elements.model_name.human%> Names</h4>

  <% elements.each do |element| %>
    <a href="<%="#{element.model_name.plural}/#{element.id}" %>"><%= element.name %></a>
    <br>
  <% end %>
<br>
<br>
<a href="<%=elements.model_name.plural%>/new">Create a new <%= elements.model_name.human %></a>
