<h4> <%= elements.model_name.human%> Names</h4>

  <% elements.each do |element| %>
    <a href="/<%= url_name %>/<%= element.id %>"><%= element.name %></a>
    <br>
  <% end %>
<br>
<br>
<% if params['action'] == 'index' %>
  <a href="<%= new_band_url %>">Create a new band</a>
<% else %>
  <a href="<%=elements.model_name.plural%>/new">Create a new <%= elements.model_name.human %></a>
<% end %>
